/* 
   COURT PORTAL THEME:
*/
:root {
  /* Graphite - Deep, rich gray */
  --primary-color: #2D3142;
  /* Aubergine - Muted dark purple */
  --accent-color: #4F5D75;
  /* Burnt Orange - For high-priority buttons */
  --warn-color: #EF8354;

  /* Backgrounds */
  --bg-light: #FFFFFF;
  /* Stark White */
  --bg-dark: #1E1E24;
  /* Deep Charcoal */
  --text-main: #333333;

  /* Material Overrides */
  --mdc-theme-primary: var(--primary-color);
  --mdc-theme-secondary: var(--accent-color);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-light);
  color: var(--text-main);
}